{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block content %}
    <main>
<br><br><br>
        <div style="padding-bottom:150px;">
        <!--trading 소제목-->
        <div class="hr-sect py-5 mt-5" style="width: 70%; margin: 0 auto; font-size: 2.3rem; font-weight: 600; margin-bottom: 30px; color: #002d5b; font-family: Poppins, sans-serif; text-align: center; line-height: 1.2; text-transform: uppercase;">Trading</div>
        <!--trading 소제목 end-->

        <!--Trading start-->
        <div class="fanfact-block py-5 ">
            <div class="container ml-b-55" style="width: 70%;
    margin: 0 auto;">
                <div class="row justify-content-center fanfact-promo-numbers">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-three">
                                    <div class="odometer-wrap">
                                        $<div id="counter1"></div>
                                        B/m+
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">RT7 volume</h4>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-three">
                                    <div class="odometer-wrap">
                                        <div id="counter2"></div>
                                       k+
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">Following traders                                    </h4>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-three">
                                    <div class="odometer-wrap">
                                        $<div id="counter3"></div>
                                        B/m+
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">RT7 follower’s volume</h4>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                </div>
                <!-- /.fanfact-promo-numbers -->
            </div>
        </div>
        <!--Trading end-->
            </div>

        <!--investment 소제목-->
        <div class="hr-sect py-5" style="width: 70%; margin: 0 auto; font-size: 2.3rem; font-weight: 600; margin-bottom: 30px; color: #002d5b; font-family: Poppins, sans-serif; text-align: center; line-height: 1.2; text-transform: uppercase;">Investment</div>
        <!--investment 소제목 end-->

        <!--investment 내용-->
        <div class="stage">

            <div class="container" style="width: 70%; margin: auto;">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 pb-5" style="text-align:center;">
                        <a href="http://www.vestigium.io/" target='_blank'><img src="{% static 'img/jin9/vestigium.png' %}" style="height:60%; width:auto;"></a>
                    </div>
                </div>
            </div>

        </div>
        <!--investment 내용 end-->


        <!-- Services Details Start
        <div class="services-details section-padding2">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-detailsImg">
                            <img src="{% static 'img/hero/main_sub_2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-details-caption">
                            <h2>We Are RT7!</h2>
                            <p class="details-pera1">RT7 is a company made by traders. </p>
                            <p class="details-pera2">The first condition of joining our company as a trader is to certify trading revenue of at least $3m as a trader who traded only his own capital without the help of an agency.</p>
                            <p class="details-pera3">Currently, we are working on creating various communities and platforms for Koreans and traders.</p>
                            <p class="details-pera3">RT7 transfer trading techniques in the community, and the members exchange ideas about trading.</p> -->

                            <!-- btn
                            <a href="/contact/" class="btn red-btn">Contact Us <i class="ti-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Details End -->

         <!-- Request Back Start
        <div class="request-back-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="request-content">
                            <h3>Request for  Call Back</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <!-- Contact form Start
                        <div class="form-wrapper">
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box  mb-30">
                                            <input type="text" name="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box mb-30">
                                            <input type="text" name="email" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <button type="submit" class="send-btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>     <!-- Contact form End -->
                </div>
            </div>
        </div>
        <!-- Request Back End -->

        <script>
        function numberCounter(target_frame, target_number) {
    this.count = 0; this.diff = 0;
    this.target_count = parseInt(target_number);
    this.target_frame = document.getElementById(target_frame);
    this.timer = null;
    this.counter();
};
    numberCounter.prototype.counter = function() {
        var self = this;
        this.diff = this.target_count - this.count;

        if(this.diff > 0) {
            self.count += Math.ceil(this.diff / 5);
        }

        this.target_frame.innerHTML = this.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        if(this.count < this.target_count) {
            this.timer = setTimeout(function() { self.counter(); }, 75);
        } else {
            clearTimeout(this.timer);
        }
    };

new numberCounter("counter3", 100);
new numberCounter("counter2", 200);
new numberCounter("counter1", 20);
    </script>

    </main>
{% endblock %}
