{% extends 'base.html' %}
{% load static %}
{% block title %}Partners{% endblock %}
{% block content %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/about_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Partners</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Services Details Start -->
        <div class="services-details section-padding2">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-details-caption">
                            <h2>Our frequently used exchange</h2>
                            <p class="details-pera1">
                                -upbit(65%)<br>
                                -bithumb(5%)<br>
                                -FTX(25%) <br>
                                -binance(5%)
                            </p>
                        </div>
                        <div class="s-detailsImg">
                            <img src="{% static 'img/hero/rcent_1.png' %}" alt="">
                        </div>
                    </div>

                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-details-caption">
                            <h2>Our volume</h2>
                            <p class="details-pera1">
                                -as of last month  -RT7's voulme(total 6 traders):$1.96B<br>
                                -bithumb(5%)<br>
                                -If upbit is added, the monthly trading volume is calculated at about $20B
                            </p>
                        </div>
                        <div class="s-detailsImg">
                            <img src="{% static 'img/hero/rcent_2.png' %}" alt="">
                        </div>
                    </div>

                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-details-caption">
                            <h2>Our community</h2>
                            <p class="details-pera1">
                                -VIP trader's comunity: We are running a community of vip traders who need to authenticate trading revenue of $1m to come in.207 members<br>
                                -Traders registered through us in ftx about 6000 traders<br><br>
                                -YouTube shows real-time trading of RT7 traders. 62,000 subscibers<br> <a href="https://www.youtube.com/results?search_query=rt7" target="_blank"><b>Link to RT7 YOUTUBE</b></a><br><br>
                                -telegram chat  <br>
                                  4,325 members(<a href="https://t.me/RT7official" target="_blank"><b>https://t.me/RT7official</b></a>)<br>
                                  4,460 members(<a href="https://t.me/youtubeRT7" target="_blank"><b>https://t.me/youtubeRT7</b></a>) <br>
                                  4,232 members(<a href="https://t.me/RT7research" target="_blank"><b>https://t.me/RT7research</b></a>) <br>
                                  ..about 20,000
                            </p>
                        </div>
                        <div class="s-detailsImg">
                            <img src="{% static 'img/hero/rcent_3.png' %}" alt="">
                        </div>
                    </div>

                    <div class="offset-xl-1 offset-lg-1 col-xl-7 col-lg-7">
                        <div class="s-details-caption">
                            <h2>What we're doing now.</h2>
                            <p class="details-pera1">
                                -We mainly work on creating platforms for Korean traders and Korean blockchain ecosystems that are not yet in Korea.<br>
                                -We also do marketing or invest as strategic partners if there are projects that can help each other while helping our platform ecosystem. <br><a href="https://www.coinfor.co.kr" target="_blank"><b>Link to coinfor website</b></a><br><br>
                                -We are making a trading platform to provide trading community,information, copytrading, and exchange integration ui tailored to the Korea UI. <br>
                                -Community and trading information part is scheduled to open in May 2021 and will be invested by ftx. <br>
                            </p>
                            <div class="s-detailsImg">
                            <img src="{% static 'img/hero/rcent_4.png' %}" alt="">
                            </div>
                        <!-- btn -->
                            <a href="#" class="btn red-btn">Contact Us <i class="ti-angle-double-right"></i></a>
                        </div>

                    </div>



                </div>
            </div>
        </div>
        <!-- Services Details End -->
    </main>
{% endblock %}
