{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">

        <!-- What we do 슬라이드 -->
        <div class="slider-active">
                <div class="single-slider d-flex align-items-center" data-background="">
                    <div class="container py-5 my-5" style="width: 70%;
    margin: 0 auto;">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 pb-5">
                                <div class="hero__caption">
            <h1 data-animation="fadeInLeft" data-delay=".5s" \ style="margin-bottom:14px;"><font color="black">WE ARE</font> RT<font color="red">7</font></h1>
            <p style="font-family: Poppins,sans-serif; color:#002d5b; font-size: 5rem; font-weight:900;"> blockchain becomes <br>easier</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- What we do 슬라이드 end -->
        <br><br>

        <!--platform 소제목-->
        <div class="hr-sect mb-5" style="width: 70%;
    margin: 0 auto; font-size: 2.3rem; font-weight: 600; margin-bottom: 30px; color: #002d5b; font-family: Poppins, sans-serif; text-align: center; line-height: 1.2; text-transform: uppercase;">Platform</div>
        <!--platform 소제목 end-->

        <!-- Youtube Start-->
        <div class="we-trusted-area trusted-padding my-5 py-5">
            <div class="container mb-5 pb-5">
                <div class="row d-flex align-items-end">
                    <div class="col-md-7 col-7">
                        <div class="trusted-img" style="margin-left:-120px;">
                            <img src="{% static 'img/jin9/youtube_banner.png' %}" style="border-radius:2%;" alt="" >
                        </div>
                    </div>
                    <div class="col-md-5 col-5">
                        <div class="trusted-caption" style="margin-left:-152px; width:150%; height:auto; border-radius:2%;">
                            <h2 style="font-size:3rem;"><img src="{% static 'img/jin9/Youtube_icon.png' %}" style="width:15%; height:auto;"><font color="crimson">  Youtube</font></h2>
                           <p class="jin9-landing-ex" style="margin-bottom: 33px;">Through real-time broadcasting, crypto trading and blockchain become more familiar.<br>
                           </p>
                            <a href="https://www.youtube.com/channel/UC0RgMeINDkir1xAxpfsppjA" class="btn trusted-btn" target='_blank'>visit</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Youtube End-->
<br><br>
            <br><br>
        <!-- Coinfor Start-->
        <div class="we-trusted-area trusted-padding my-5 py-5">
            <div class="container mb-5 pb-5">
                <div class="row d-flex align-items-end">
                    <div class="col-md-5 col-5">
                        <div class="trusted-caption" style="text-align: right; margin-right:-152px; margin-left:auto; padding-left:5px; background: rgba(255,255,255,0.8); position:relative; z-index: 1; width:150%; height:auto; border-radius:2%;">
                            <h2 style="font-size:3rem;"><img src="{% static 'img/jin9/coinfor_icon.png' %}" style="width:15%; height:auto; position:relative; z-index: 2;"><font color="DodgerBlue">  COINFOR</font></h2>
                           <p class="jin9-landing-ex" style="margin-bottom: 33px;">‘Coinfor’ is a community that contains tools <br>necessary for trading, making trading easier.<br>
                           </p>
                            <a href="https://www.coinfor.co.kr/" class="btn trusted-btn jin9-btn1" style="background-color:LightSkyBlue;" target='_blank'>visit</a>
                        </div>
                    </div>
                    <div class="col-md-7 col-7">
                        <div class="trusted-img" style="margin-right:-120px;">
                            <img src="{% static 'img/jin9/coinfor_banner.png' %}" style="border-radius:2%;" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Coinfor End-->
<br><br>
            <br><br>
        <!-- simple Start-->
        <div class="we-trusted-area trusted-padding my-5 py-5">
            <div class="container mb-5 pb-5">
                <div class="row d-flex align-items-end">
                    <div class="col-md-7 col-7">
                        <div class="trusted-img" style="margin-left:-120px;">
                            <img src="{% static 'img/jin9/simple_banner2.png' %}" style="border-radius:2%;" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-5">
                        <div class="trusted-caption" style="margin-left:-152px; width:150%; height:auto; border-radius:2%;">
                            <h2 style="font-size:3rem;"><img src="{% static 'img/jin9/simple_logo.png' %}" style="width:15%; height:auto;"><font color="Turquoise">  Simple</font></h2>
                           <p class="jin9-landing-ex" style="margin-bottom: 33px;">‘Simple' is an easy-to-use wallet that makes it easier to access dapp.<br>
                           </p>
                            <a href="https://www.figma.com/proto/o3XrRa02QE7w6wWIj5ISEs/Simple-Platform_De?page-id=3409%3A12851&node-id=3628%3A29791&viewport=497%2C48%2C0.12&scaling=scale-down&starting-point-node-id=3628%3A29791" class="btn trusted-btn jin9-btn2" style="background-color:Turquoise;" target='_blank'>visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- simple End-->
            <br><br>
            <br><br>

        <!-- Telegram Start -->
        <div class="request-back-area section-padding30" style="padding:50px 0px 50px 0px; background-color:#fff;">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="request-content" style="margin-top:10px;">
                            <h3 style="text-align:center; color:#002d5b;">Telegram</h3>
                            <p style="text-align:center;"><img src="{% static 'img/jin9/telegram_icon.png' %}" style="height:100px; width:100px;"></p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <!-- Contact form Start -->
                        <div class="form-wrapper">
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn2" onclick="window.open('https://t.me/RT7official')"><font size="5px">RT7</font> official</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn2" onclick="window.open('https://t.me/youtubeRT7')"><font size="5px">RT7</font> youtube</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn2" onclick="window.open('https://t.me/RT7research')"><font size="5px">RT7</font> research</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn2" onclick="window.open('https://t.me/RT7invest')"><font size="5px">RT7</font> invest</button>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>     <!-- Contact form End -->
                </div>
            </div>
        </div>
        <!-- Telegram End -->

        <!-- KakaoTalk Start -->
        <div class="request-back-area section-padding30 pb-5" style=" padding:50px 0px 50px 0px; background-color:#fff;">
            <div class="container pb-5">
                <div class="row d-flex justify-content-between pb-5">
                    <div class="col-xl-4 col-lg-5 col-md-5 pb-5">
                        <div class="request-content" style="margin-top:10px; color:#002d5b;">
                            <h3 style="text-align:center; color:#002d5b;">Kakao Talk</h3>
                            <p style="text-align:center;"><img src="{% static 'img/jin9/talk_icon.png' %}" style="height:110px; width:115px;"></p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <!-- Contact form Start -->
                        <div class="form-wrapper">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn" onclick="window.open('https://open.kakao.com/o/gK9vHxPb')"><font size="5px">RT7</font> chat1</button>
                                    </div>

                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn" onclick="window.open('https://open.kakao.com/o/gASZyNNc')"><font size="5px">RT7</font> chat2</button>
                                    </div>

                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn" onclick="window.open('https://open.kakao.com/o/gyLtTuPc')"><font size="5px">RT7</font> chat3</button>
                                    </div>
                                    <!-- 예전꺼 <div class="col-lg-6 col-md-6">
                                <button type="button" class="button button-contactForm jin9-box2" onclick="window.open('https://open.kakao.com/o/gQOjA9Wc')"><font size="5px">RT7</font> chat4</button>
                                    </div> -->

                                    <div class="col-lg-6 col-md-6" style="text-align:center;">
                                        <button type="button" class="underline-hover-btn" onclick="window.open('https://open.kakao.com/o/gQOjA9Wc')"><font size="5px">RT7</font> chat4</button>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>     <!-- Contact form End -->
                </div>
            </div>
        </div>
        <!-- KakaoTalk End -->
        </div>


    <!--하단링크버튼 start-->
    <!--하단링크버튼 end-->

    </main>
{% endblock %}
